{% load static %}
<html>
<head>
    <title>Questionarie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/logo/logo.jpg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
{#      <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
</head>
<body>
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
           href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="{% url 'Questions:index' %}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
{#        <a href="{% url 'Questions:signup' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign Up</a>#}

        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">View Profile</a>
        {% else %}
            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
            <a href="{% url 'Questions:signup' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">SignUp</a>
        {% endif %}
        <strong class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% if request.user.is_authenticated %}
            {{ request.user.username }} {% endif %} <i
                class="w3-bar-item w3-button w3-hide-small w3-hover-white"></i></strong>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div>
{% block content %}{% endblock %}
</div>
</body>
</html>