{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'Questions:comments' id=user.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    {% endif %}
</form>
    <br/>
    <p>The Comments are:<br></p>
    <div class="main-comment-section">
        {% for comment in comments %}
            {{ comment.comments | safe }}<br>
        {% endfor %}
    </div>
{% endblock %}