{% extends 'base.html' %}
{% load static %}
{#<head>#}
{#    <title>Questionarie</title>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">#}
{#    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">#}
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <style>#}
{#        html, body, h1, h2, h3, h4, h5, h6 {#}
{#            font-family: "Roboto", sans-serif;#}
{#        }#}
{##}
{#        .w3-sidebar {#}
{#            z-index: 3;#}
{#            width: 250px;#}
{#            top: 43px;#}
{#            bottom: 0;#}
{#            height: inherit;#}
{#        }#}
{##}
{#        .button {#}
{#            background-color: #4CAF50; /* Green */#}
{#            border: none;#}
{#            color: white;#}
{#            padding: 15px 32px;#}
{#            text-align: center;#}
{#            text-decoration: none;#}
{#            display: inline-block;#}
{#            font-size: 16px;#}
{#            margin: 4px 2px;#}
{#            cursor: pointer;#}
{#        }#}
{##}
{#        .button {#}
{#            background-color: #f44336;#}
{#        }#}
{##}
{#        /*red/#}
{#</style>#}
{#    <link rel="icon" href="{% static 'images/logo/logo.jpg' %}" type="image/x-icon"/>#}
{#</head>#}

<!-- Navbar -->
{#<div class="w3-top">#}
{#    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">#}
{#        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"#}
{#           href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>#}
{#        <a href="{% url 'Questions:index' %}" class="w3-bar-item w3-button w3-theme-l1">Home</a>#}
{#        <a href="{% url 'Questions:signup' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sign Up</a>#}
{##}
{#        {% if request.user.is_authenticated %}#}
{#            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>#}
{#             <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">View Profile</a>#}
{#        {% else %}#}
{#            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>#}
{#            <a href="{% url 'Questions:signup' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">SignUp</a>#}
{#        {% endif %}#}
{#        <strong class="w3-bar-item w3-button w3-hide-small w3-hover-white">{% if request.user.is_authenticated %}#}
{#            {{ request.user.username }} {% endif %} <i#}
{#                class="w3-bar-item w3-button w3-hide-small w3-hover-white"></i></strong>#}
{#    </div>#}
{#</div>#}
{% block content  %}
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Questions</b></h4>
    {% for post in posts %}
        <a class="w3-bar-item w3-button w3-hover-black" href="">{{ post.question | safe }}</a>
    {% endfor %}
</nav>
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
</div>
    <div class="w3-row w3-padding-64" style="margin-left:250px">
        <div class="w3-twothird w3-container">
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'Questions:index' %}">
                    {% csrf_token %}
                    <textarea placeholder="write Question" name="question" style="width: 150% ; height: 20%"></textarea>
                    <button class="button" name="submit" value="submit">Post</button>
                </form>
            {% endif %}
            {% for post in posts %}
                <a class="w3-bar-item w3-button w3-hover-black"
                   href="{% url 'Questions:comments' id=post.id %}">{{ post.question | safe }}</a><br/>
            {% endfor %}
        </div>
    </div>
<div class="w3-center w3-padding-32">
    <div class="w3-bar">
        {% for page in posts.paginator.page_range %}
            <a class="w3-button w3-black" href="?page={{ page }}">{{ page }}</a>
        {% endfor %}
    </div>
</div>

<div class="w3-container w3-theme-l1">
    <center><p>Powered by <a href="https://www.mukeshmaharjan4.com.np" target="_blank">Mukesh Maharjan</a></p></center>
</div>

<!-- END MAIN -->

<script>
    // Get the Sidebar
    let mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    let overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>
{% endblock %}


