{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
<br/>
<u><h1 align="center"><b>Login Form</b></h1></u>

<form action="{% url 'login' %}" method="post">

    {% csrf_token %}
    <div class="imgcontainer" align="center">
        <img src="{% static 'images/avatar/loginAvatar.png' %}" alt="Avatar" class="avatar"
             style="height: 300px;width: 300px">
    </div>

    <div class="container" align="center">
        <label for="username"><b>Username</b></label>
        {{ form.username }}
        <br/>
        <label for="psw"><b>Password</b></label>
        {{ form.password }}
        <br/>
        <button type="submit">Login</button><br/>
          <input type="hidden" name="next" value="{{ next }}">
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
    <div class="container" style="background-color:#f1f1f1" align="center">
        <span class="psw">Forgot <a href="#">password?</a><br>
        <span class="no_account"><a href="{% url 'Questions:signup' %}">Doesnot have a account?</a></span>
    </div>
</form>
{% endblock %}
