{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<form method="post" action="{% url 'Questions:signup' %}" enctype="multipart/form-data" style="align-content: center">
    {% csrf_token %}
    <div class="container" align="center">
        <br/>
        <h1 align="center"><u>Sign Up</u></h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="firstname"><b>First Name</b></label>
        {{ form.first_name }}
        <br>
        <label for="UserName"><b>Last Name</b></label>
        {{ form.last_name }}
        <br>
        <label for="UserName"><b>User Name</b></label>
        {{ form.username }}
        <br>
        <label for="psw"><b>Password</b></label>
        {{ form.password1 }}

        <br>
        <label for="psw-repeat"><b>Re-Password</b></label>
        {{ form.password2 }}
        <br>
        <label for="email"><b>Email</b></label>
        {{ form.email }}
{#        <br>#}
{#        <label for="image">Upload your image here?</label>#}
{#        {{ form.image }}#}

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <button type="submit" class="signupbtn" name="submit" value="submit">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}

